* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import "variables";


.phase-exe {
    width: 100%;
    border-radius: 50%;
}
/* Header-Nav */
.header {
    background-image: url("../images/landing.gif");
    background-size: cover;
    height: 100vh;
    width: 100%;


    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 88px;
        height: 80px;

        a {
            font-family: $font-family-text;
            color: $text-color;
            font-size: 12px;
        }
    }

    .cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cover-logo {
            margin-top: 112px;
            margin-bottom: 40px;
        }

        .cover-title {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: 100%;
            @include texto ($font-family-text, 300, 28px, white);
            gap: 16px;

            .cover-slogan {
                @include texto ($font-family-titles, 700, 72px, white);
                letter-spacing: 0.025em;

            }
        }
    }
}

/* Fin de Header-Nav */

/* Info*/
.container-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        
        .info-text{
            width: 50%;
            display: flex;
            flex-direction: column;
      ;

            .info-text-title {
                @include texto ($font-family-titles, 700, 28px, $text-color);
                margin-bottom: 28px;
                margin-top: 50px;
            }
    
            .info-text-p{
                @include texto ($font-family-text, 300, 18px, $text-color);
                text-align: justify;
                span {
                    display: flex;
                    margin: 18px 0;
                }
            }
        }
    }
    .info-image{
        width: 50%;
        height: 100vh;
        background-image: url("../images/Ext_04_2_Post.jpg");
        background-size: cover;        
    }
}
/* Fin de Info*/

/* Proyecto */
.container-proyecto{
    width: 100%;
    height: 100vh;
    background-image: url("../images/Planimetría\ final.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 20px;

}

.container-proyecto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    max-width: 100% !important;
}

.hoverSection{
    color: rgba(0, 0, 0, 0);
    text-align: center;
    width: 20% !important;
}

.hoverSection:hover{
    background-color: rgba(255, 255, 255, .7);
    color: #8ABA5A;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.hoverSection {
    padding-top: 25%;
}

.textRotated{
    transform: rotate(90deg);
    font-size: 4em;
}

.hover1{
    width: 30% !important;
}

.swal-wide{
    width: 90% !important;
}

.imgFull{
    width: 100%;
    height: 100%;
}

#planimetriaFinal{
    width: 90% !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 100vh;
}
/*Fin de Proyecto */

/* Galeria */
.container-galery {
    padding: 10px;
    
    
    
    
}
.container-galery{
    width: 100%;
    overflow: hidden;
}

.specialRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 90% !important;
    margin-left: 5% !important;
    max-height: 20% !important;
    overflow: hidden;
}
.specialImage{
    width: 100% !important;
    height: 50% !important;
    object-fit: cover;
    object-position: center;
    margin: 0px !important;
    padding: 0px !important;

}
.specialThumb{
    max-height: 30% !important;
    overflow: hidden;
}
.gallery {
	display: flex;
	transition: .3s;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: stretch;
    justify-content: center;
    height: max-content !important;

    

    .gallery__image {
        width: 100%;
    }
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
	&__column1 {
		display: flex;
		flex-direction: column;
		width: auto;
        max-width: 30%;
        height: 90vh;
        overflow: hidden;
	}

    &__column2 {
		display: flex;
		flex-direction: column;
		width: auto;
        max-width: 60%;
        height: 90vh;
	}

    &__row {
		display: flex;
		flex-direction: row;
        flex-wrap: nowrap;
		width: auto;
        height: 50vh;
	}
	
	&__link {
        margin-top: 0;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
        height: 100%;
        width: max-content;
	}
	
	&__image {
		display: block;
		height: 100%;
        width: max-content;
		transition: .3s;
        overflow: hidden;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}


/* Fin de Galeria */

/* Etapa */
.container-phase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .phase-title{
        @include texto ($font-family-titles, 700, 28px, $text-color);
        margin-bottom: 100px;
    }
    .container-phase-status{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .phase-status{
            display: flex;
            flex-direction: column;
            padding: 0 50px;
            @include texto ($font-family-text, 300, 18px, $text-color);
            text-align: center;
            gap: 25px;
        }
    }
}

/* Fin de Etapa */

/* Equipo */
.team-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    .team-title{
        @include texto ($font-family-titles, 700, 28px, $text-color);
        margin-bottom: 50px;

    }

    .container-team{
        display: flex;
        flex-direction: row;

        .team{
            display: flex;
            flex-direction: column;        
            padding: 0 15px;

            .team-name {
                @include texto ($font-family-text2, 400, 16px, $text-color);
                margin-top: 35px;
                padding: 10px 25px;
            }

            .team-pos {
                @include texto ($font-family-titles, 700, 16px, $text-color);
                padding: 10px 25px;
            }
        }
    }
}

/* Fin de Equipo */

/* Galeria */
.container-articles {
    background-color: $secundary-color;
    .pendiente{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        @include texto ($font-family-titles, 700, 28px, $text-color);
    }
}
/* Fin de Galeria */

/* Formulario */
.container-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $text-color;
    padding-top: 50px;

    .form{
        width: 612px;
        .form-title{
            @include texto ($font-family-titles, 700, 28px, white);
            margin-bottom: 56px;
        }
        text-align: center;
        .input, .input-msg {
            margin-bottom: 24px;
            width: 612px;
            height: 64px;
            border: none;
            border-radius: 5px;
            padding: 15px;
            font-size: 15px;
        }
        .input-msg{
            height: 166px;
            resize: none;

        }
        .btn-send {
            margin-top: 24px;
            width: 196px;
            height: 64px;
            background: #8ABA5A;
            border: none;
            border-radius: 10px;
            @include texto ($font-family-text, 500, 18px, white);

        }
    }
}

#Contacto{
    padding-top: 50px;
}
/* Fin de Formulario */

/* Footer */
.footer {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $text-color;
    .footer-img{
        margin-top: 150px;
        margin-bottom: 24px;
        }
    .contact-info {
        width: 300px;
        background-color: $primary-color;
        text-align: center;
        @include texto ($font-family-text, 400, 18px, white);
        margin: 12px 0;
    }
}




.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  transition: all 0.5s ease;
  &:hover{
    background-color: #0c9;
  }
}

.float2Left{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	left:40px;
    background-image: url('/images/17041950551543238859.svg');
	text-align:center;

  z-index:100;
  transition: all 0.5s ease;
  &:hover{
    scale: 1.2;
  }
}

.my-float{
	margin-top:16px;
}





///galeria
/// 
.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
  }
  
  @media all and (min-width: 320px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media all and (min-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media all and (min-width: 1024px) {
    .grid-gallery {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  .grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
  }
  
  .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .nav-link{
    font-size: 1.5rem;
    margin-left: 30px;
  }


  .NavBarSet{
    ///navbar flotante
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    z-index: 100;
    transition: all 0.5s ease;


  }



  ///media query para pantallas pequeñas with media and max-width
  
  
  @media only screen and (max-width: 800px) {
    .nav-link{
        font-size: 1.2rem;
        margin-left: 10px;
        }
        body{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;

        }

        .team-section{
            height: fit-content !important;
            margin-top: 30px !important;
        }

        .gallery__image{
            width: 100% !important;
            height: 100% !important;
        }

        .gallery__row{
            display: flex;
            flex-direction: column;
        }

        .gallery{
            flex-direction: column !important;
        }

        .gallery__column1{
            width: 100% !important;
            max-width: 100% !important;
        }

        .team {
            img{
                width: 100%;
            }
        }

        .input, .input-msg {
            width: 80% !important;
        }

        .form{
            width: 80% !important;
            margin-left: 10% !important;
        }

        .container-team{
            flex-direction: column !important;
        }

        .phase-title{
            font-size: 1.5rem;
            text-align: center;
            width: 90% !important;
            margin-left: 5% !important;
        }

        .container-phase{
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: fit-content !important;
            width: 95% !important;
        }

        .container-phase-status{
            flex-direction: column !important;
            flex-wrap: nowrap;
            overflow: hidden;
            height: fit-content !important;
        }

        .container-proyecto{
            height: 40vh;
            width: 100%;
            overflow: hidden;
        }

        .container-info{
            display: flex;
            flex-direction: column-reverse !important;
            overflow: hidden;

            .info{
                width: 100%;
                height: fit-content;
            }

            .info-image{
                height: 40vh;
                width: 100%;
                overflow: hidden;
            }
        }
        .info-text{
            width: 90% !important;
        }
  }